{% extends "base.html" %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <h2>Add Item</h2>
        <br>
        <form method = 'post'>

            <table>
                <tr>
                    <td>Title</td>
                    <td><input type='text' name='title'></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><input type='textarea' name='description'></td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <select id="category" name="category">
                            {% for cata in categories %}
                                {% if cata.name == cataName %}
                                    <option selected value="{{cata.name}}">{{cata.name}}</option>
                                {% else %}
                                    <option value="{{cata.name}}">{{cata.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>

            <input type='submit' value='Save'>
            <a href="{{url_for('showCatalogItems', catalogName=cataName)}}">Cancel</a>
        </form>
    </div>
{% endblock %}
