{% extends "base.html" %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <div class="google+">
            Login by Google+
        </div>
        <div class="facebook">
            Login by Facebook
        </div>
        <div class="new user">
            <h2>Create a new account</h2>
            <br>
            <form method='post'>
                <table>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" name="username" value="{{username}}"></td>
                        <td>{{username_error}}</td>
                    </tr>

                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="email" value="{{email}}"></td>
                        <td>{{email_error}}</td>
                    </tr>
                </table>

                <input type='submit' value='Submit'>
                <a href="/">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
